# Data Preparation and Analysis

### Import Libraries

In [59]:
library(ggplot2)
library(reshape)
suppressMessages(library(dplyr))
suppressMessages(library(tidyverse))

### Importing data

In [60]:
results = read.csv("../premier-league/data/results.csv")
stats = read.csv("../premier-league/data/stats.csv")
df0607 = read.csv("../premier-league/data/season-0607.csv")
df0708 = read.csv("../premier-league/data/season-0708.csv")
df0809 = read.csv("../premier-league/data/season-0809.csv")
df0910 = read.csv("../premier-league/data/season-0910.csv")
df1011 = read.csv("../premier-league/data/season-1011.csv")
df1112 = read.csv("../premier-league/data/season-1112.csv")
df1213 = read.csv("../premier-league/data/season-1213.csv")
df1314 = read.csv("../premier-league/data/season-1314.csv")
df1415 = read.csv("../premier-league/data/season-1415.csv")
df1516 = read.csv("../premier-league/data/season-1516.csv")
df1617 = read.csv("../premier-league/data/season-1617.csv")
df1718 = read.csv("../premier-league/data/season-1718.csv")

In [61]:
#Checking top few rows of datasets
head(results)
head(stats)
head(df0607)

  home_team        away_team        home_goals away_goals result season
1 Sheffield United Liverpool        1          1          D      2006-2007
2 Arsenal          Aston Villa      1          1          D      2006-2007
3 Everton          Watford          2          1          H      2006-2007
4 Newcastle United Wigan Athletic   2          1          H      2006-2007
5 Portsmouth       Blackburn Rovers 3          0          H      2006-2007
6 Reading          Middlesbrough    3          2          H      2006-2007

  team              wins losses goals total_yel_card total_red_card
1 Manchester United 28    5     83    60             1
2 Chelsea           24    3     64    62             4
3 Liverpool         20   10     57    44             0
4 Arsenal           19    8     63    59             3
5 Tottenham Hotspur 17   12     57    48             3
6 Bolton Wanderers  16   14     47    84             4
  total_scoring_att ontarget_scoring_att hit_woodwork att_hd_goal ⋯ total_cross
1 698               256                  21           12          ⋯  918
2 636               216                  14           16          ⋯  897
3 668               214                  15            8          ⋯ 1107
4 638               226                  19           10          ⋯  873
5 520               184                   6            5          ⋯  796
6 404               120                   7           10          ⋯  942
  corner_taken touches big_chance_missed clearance_off_line dispossessed
1 258          25686   NA                1                  NA
2 231          24010   NA                2                  NA
3 282          24150   NA                1                  NA
4 278          25592   NA                1                  NA
5 181          22200   NA                2                  NA
6 217          18932   NA                6                  NA
  penalty_save total_high_claim punches season
1 2            37               25      2006-2007
2 1            74               22      2006-2007
3 0            51               27      2006-2007
4 0            88               27      2006-2007
5 0            51               24      2006-2007
6 2            44               21      2006-2007

  Div Date       HomeTeam   AwayTeam      FTHG FTAG FTR HTHG HTAG HTR ⋯ HST AST
1 E0  19-08-2006 Arsenal    Aston Villa   1    1    D   0    0    D   ⋯ 11  3
2 E0  19-08-2006 Bolton     Tottenham     2    0    H   2    0    H   ⋯  6  6
3 E0  19-08-2006 Everton    Watford       2    1    H   1    0    H   ⋯  2  8
4 E0  19-08-2006 Newcastle  Wigan         2    1    H   1    0    H   ⋯  8  9
5 E0  19-08-2006 Portsmouth Blackburn     3    0    H   1    0    H   ⋯ 16  7
6 E0  19-08-2006 Reading    Middlesbrough 3    2    H   2    2    D   ⋯  9  5
  HF AF HC AC HY AY HR AR
1 10 19 18  1 1  2  0  0
2 19 22  6  3 0  1  0  0
3 12 13  0  6 2  2  0  0
4 17 20  4 11 1  2  0  0
5 20 17  6  2 2  1  0  2
6  8 15  8  2 1  3  0  0

In [62]:
#Checking top few rows of season 09-10
head(df0910)

  Date       HomeTeam    AwayTeam   FTHG FTAG FTR HTHG HTAG HTR Referee       ⋯
1 2009-08-15 Aston Villa Wigan      0    2    A   0    1    A   M Clattenburg ⋯
2 2009-08-15 Blackburn   Man City   0    2    A   0    1    A   M Dean        ⋯
3 2009-08-15 Bolton      Sunderland 0    1    A   0    1    A   A Marriner    ⋯
4 2009-08-15 Chelsea     Hull       2    1    H   1    1    D   A Wiley       ⋯
5 2009-08-15 Everton     Arsenal    1    6    A   0    3    A   M Halsey      ⋯
6 2009-08-15 Portsmouth  Fulham     0    1    A   0    1    A   M Atkinson    ⋯
  HST AST HF AF HC AC HY AY HR AR
1  5   7  15 14  4 6  2  2  0  0
2  9   5  12  9  5 4  2  1  0  0
3  3  13  16 10  4 7  2  1  0  0
4 12   3  13 15 12 4  1  2  0  0
5  5   9  11 13  4 9  0  0  0  0
6  4   3  11 18  6 4  3  2  0  0

In [63]:
#Checking top few rows of season 08-09
head(df0809)

  Div Date     HomeTeam      AwayTeam   FTHG FTAG FTR HTHG HTAG HTR ⋯ BbMx.2.5
1 E0  11/08/07 Aston Villa   Liverpool  1    2    A   0    1    A   ⋯ 2.30
2 E0  11/08/07 Bolton        Newcastle  1    3    A   0    3    A   ⋯ 2.33
3 E0  11/08/07 Derby         Portsmouth 2    2    D   1    1    D   ⋯ 2.35
4 E0  11/08/07 Everton       Wigan      2    1    H   1    0    H   ⋯ 2.20
5 E0  11/08/07 Middlesbrough Blackburn  1    2    A   1    0    H   ⋯ 2.30
6 E0  11/08/07 Sunderland    Tottenham  1    0    H   0    0    D   ⋯ 2.15
  BbAv.2.5 BbMx.2.5.1 BbAv.2.5.1 BbAH BbAHh BbMxAHH BbAvAHH BbMxAHA BbAvAHA
1 2.14     1.70       1.63       26    0.50 1.95    1.85    2.07    1.95
2 2.10     1.75       1.65       26    0.00 1.83    1.75    2.18    2.04
3 2.13     1.90       1.63       25    0.00 2.26    2.09    1.76    1.71
4 2.00     1.83       1.73       26   -0.75 1.97    1.94    2.02    1.94
5 2.08     1.75       1.67       26    0.00 1.90    1.77    2.10    1.97
6 2.04     1.83       1.70       26    0.25 2.06    2.09    1.82    1.79

In [64]:
#removing unwanted columns in season 2006-2008 to maake total columns consistent from season 2006-2018
df0607  <- df0607[2:23]
df0708  <- df0708[2:23]
df0809  <- df0809[2:23]

In [65]:
#checking number of rows adn columns in a seasons dataframe
dim(df0708)
dim(df1718)
dim(df1415)

[1] 380  22

[1] 380  22

[1] 380  22

In [66]:
#Merging season 2006-2018 dataframs
df  <- do.call("rbind", list(df0607,df0708,df0809,df0910,df1011,df1112,df1213,df1314,df1415,df1516,df1617,df1718))

In [67]:
#checking number of rows and columns in a dataframe
dim(df)

[1] 4560   22

The merged data frame has total 380*12 = 4560 rows which is corrext expected output.

In [68]:
#Checking top few rows of dataframe
head(df)

  Date       HomeTeam   AwayTeam      FTHG FTAG FTR HTHG HTAG HTR Referee    ⋯
1 19-08-2006 Arsenal    Aston Villa   1    1    D   0    0    D   G Poll     ⋯
2 19-08-2006 Bolton     Tottenham     2    0    H   2    0    H   P Dowd     ⋯
3 19-08-2006 Everton    Watford       2    1    H   1    0    H   P Walton   ⋯
4 19-08-2006 Newcastle  Wigan         2    1    H   1    0    H   M Atkinson ⋯
5 19-08-2006 Portsmouth Blackburn     3    0    H   1    0    H   A Wiley    ⋯
6 19-08-2006 Reading    Middlesbrough 3    2    H   2    2    D   M Halsey   ⋯
  HST AST HF AF HC AC HY AY HR AR
1 11  3   10 19 18  1 1  2  0  0
2  6  6   19 22  6  3 0  1  0  0
3  2  8   12 13  0  6 2  2  0  0
4  8  9   17 20  4 11 1  2  0  0
5 16  7   20 17  6  2 2  1  0  2
6  9  5    8 15  8  2 1  3  0  0

In [69]:
#saving the dataframe df data into a csv file
write.csv(df, file = "../premier-league/data/season06-18.csv",row.names=FALSE)

In [70]:
#reading the all seasons csv.
results = read.csv("../premier-league/data/results.csv")
stats = read.csv("../premier-league/data/stats.csv")
df  <- read.csv("../premier-league/data/season06-18.csv")

In [71]:
#checking the structure of dataframe
str(df)

'data.frame':	4560 obs. of  22 variables:
 $ Date    : Factor w/ 1109 levels "01-01-2007","01-04-2007",..: 112 112 112 112 112 112 112 112 119 119 ...
 $ HomeTeam: Factor w/ 39 levels "Arsenal","Aston Villa",..: 1 6 15 24 26 28 29 37 12 22 ...
 $ AwayTeam: Factor w/ 39 levels "Arsenal","Aston Villa",..: 2 34 35 38 4 23 20 11 21 16 ...
 $ FTHG    : int  1 2 2 2 3 3 1 3 3 5 ...
 $ FTAG    : int  1 0 1 1 0 2 1 1 0 1 ...
 $ FTR     : Factor w/ 3 levels "A","D","H": 2 3 3 3 3 3 2 3 3 3 ...
 $ HTHG    : int  0 2 1 1 1 2 0 0 2 4 ...
 $ HTAG    : int  0 0 0 0 0 2 0 1 0 1 ...
 $ HTR     : Factor w/ 3 levels "A","D","H": 2 3 3 3 3 2 2 1 3 3 ...
 $ Referee : Factor w/ 40 levels "A Marriner","A Taylor",..: 11 29 31 20 3 23 34 13 36 1 ...
 $ HS      : int  19 8 6 9 21 14 5 16 10 15 ...
 $ AS      : int  5 9 12 14 9 7 12 4 5 12 ...
 $ HST     : int  11 6 2 8 16 9 3 5 4 7 ...
 $ AST     : int  3 6 8 9 7 5 7 2 2 8 ...
 $ HF      : int  10 19 12 17 20 8 10 14 7 14 ...
 $ AF      : int  19 22 13 20 17 15 16 14 15 20 ...
 $ HC      : int  18 6 0 4 6 8 0 6 5 5 ...
 $ AC      : int  1 3 6 11 2 2 12 0 2 2 ...
 $ HY      : int  1 0 2 1 2 1 1 2 1 1 ...
 $ AY      : int  2 1 2 2 1 3 2 2 3 1 ...
 $ HR      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ AR      : int  0 0 0 0 2 0 0 1 1 0 ...

In [72]:
#checking the structure of stats dataframe
str(stats)

'data.frame':	240 obs. of  42 variables:
 $ team                : Factor w/ 39 levels "AFC Bournemouth",..: 22 12 20 2 34 7 28 5 15 26 ...
 $ wins                : num  28 24 20 19 17 16 16 15 15 14 ...
 $ losses              : num  5 3 10 8 12 14 15 16 10 12 ...
 $ goals               : num  83 64 57 63 57 47 52 52 52 45 ...
 $ total_yel_card      : num  60 62 44 59 48 84 38 77 65 48 ...
 $ total_red_card      : num  1 4 0 3 3 4 3 6 2 1 ...
 $ total_scoring_att   : num  698 636 668 638 520 404 419 478 465 525 ...
 $ ontarget_scoring_att: num  256 216 214 226 184 120 132 155 153 186 ...
 $ hit_woodwork        : num  21 14 15 19 6 7 8 5 9 9 ...
 $ att_hd_goal         : num  12 16 8 10 5 10 15 12 9 13 ...
 $ att_pen_goal        : num  5 3 6 10 6 6 3 5 8 2 ...
 $ att_freekick_goal   : num  1 6 1 3 2 0 0 3 2 0 ...
 $ att_ibox_goal       : num  72 41 46 53 44 38 42 43 44 32 ...
 $ att_obox_goal       : num  11 23 11 10 13 9 10 9 8 13 ...
 $ goal_fastbreak      : num  9 6 3 7 9 3 3 2 3 2 ...
 $ total_offside       : num  80 127 120 111 149 95 87 142 81 141 ...
 $ clean_sheet         : num  16 22 20 12 6 12 13 8 14 12 ...
 $ goals_conceded      : num  27 24 27 35 54 52 47 54 36 42 ...
 $ saves               : num  2 4 1 6 11 13 4 22 5 14 ...
 $ outfielder_block    : num  81 74 65 73 128 101 95 114 120 96 ...
 $ interception        : num  254 292 246 214 276 235 277 282 303 220 ...
 $ total_tackle        : num  890 982 969 998 995 811 855 864 860 948 ...
 $ last_man_tackle     : num  1 0 2 1 2 0 0 2 1 1 ...
 $ total_clearance     : num  1222 1206 1115 1202 1412 ...
 $ head_clearance      : num  NA NA NA NA NA NA NA NA NA NA ...
 $ own_goals           : num  1 1 0 1 2 3 3 2 3 0 ...
 $ penalty_conceded    : num  5 3 1 3 7 8 6 11 4 8 ...
 $ pen_goals_conceded  : num  3 2 1 3 6 6 6 6 2 6 ...
 $ total_pass          : num  18723 16759 17154 18458 14914 ...
 $ total_through_ball  : num  NA NA NA NA NA NA NA NA NA NA ...
 $ total_long_balls    : num  2397 2270 2800 2045 2408 ...
 $ backward_pass       : num  NA NA NA NA NA NA NA NA NA NA ...
 $ total_cross         : num  918 897 1107 873 796 ...
 $ corner_taken        : num  258 231 282 278 181 217 280 205 208 247 ...
 $ touches             : num  25686 24010 24150 25592 22200 ...
 $ big_chance_missed   : num  NA NA NA NA NA NA NA NA NA NA ...
 $ clearance_off_line  : num  1 2 1 1 2 6 2 8 2 4 ...
 $ dispossessed        : num  NA NA NA NA NA NA NA NA NA NA ...
 $ penalty_save        : num  2 1 0 0 0 2 0 5 1 2 ...
 $ total_high_claim    : num  37 74 51 88 51 44 63 56 83 79 ...
 $ punches             : num  25 22 27 27 24 21 21 25 15 30 ...
 $ season              : Factor w/ 12 levels "2006-2007","2007-2008",..: 1 1 1 1 1 1 1 1 1 1 ...

In [73]:
#displaying all the teams that played from 2006-2018 seasons
levels(stats$team)

 [1] "AFC Bournemouth"          "Arsenal"
 [3] "Aston Villa"              "Birmingham City"
 [5] "Blackburn Rovers"         "Blackpool"
 [7] "Bolton Wanderers"         "Brighton and Hove Albion"
 [9] "Burnley"                  "Cardiff City"
[11] "Charlton Athletic"        "Chelsea"
[13] "Crystal Palace"           "Derby County"
[15] "Everton"                  "Fulham"
[17] "Huddersfield Town"        "Hull City"
[19] "Leicester City"           "Liverpool"
[21] "Manchester City"          "Manchester United"
[23] "Middlesbrough"            "Newcastle United"
[25] "Norwich City"             "Portsmouth"
[27] "Queens Park Rangers"      "Reading"
[29] "Sheffield United"         "Southampton"
[31] "Stoke City"               "Sunderland"
[33] "Swansea City"             "Tottenham Hotspur"
[35] "Watford"                  "West Bromwich Albion"
[37] "West Ham United"          "Wigan Athletic"
[39] "Wolverhampton Wanderers"

Total 39 teams have participated in 12 seasons and each season consists of 20 teams

In [74]:
#checking for missing values in stats column
stats[!complete.cases(stats),]

   team                    wins losses goals total_yel_card total_red_card
1  Manchester United       28    5     83    60             1
2  Chelsea                 24    3     64    62             4
3  Liverpool               20   10     57    44             0
4  Arsenal                 19    8     63    59             3
5  Tottenham Hotspur       17   12     57    48             3
6  Bolton Wanderers        16   14     47    84             4
7  Reading                 16   15     52    38             3
8  Blackburn Rovers        15   16     52    77             6
9  Everton                 15   10     52    65             2
10 Portsmouth              14   12     45    48             1
11 Middlesbrough           12   16     44    64             2
12 West Ham United         12   21     35    85             2
13 Aston Villa             11   10     43    48             1
14 Manchester City         11   18     29    59             4
15 Newcastle United        11   17     38    65             1
16 Sheffield United        10   20     32    68             2
17 Wigan Athletic          10   20     37    73             3
18 Charlton Athletic        8   20     34    56             4
19 Fulham                   8   15     38    56             3
20 Watford                  5   20     29    45             2
21 Manchester United       27    5     80    51             2
22 Chelsea                 25    3     65    63             5
23 Arsenal                 24    3     74    55             3
24 Liverpool               21    4     67    45             1
25 Everton                 19   11     55    40             3
26 Aston Villa             16   10     71    54             4
27 Portsmouth              16   13     48    55             3
28 Blackburn Rovers        15   10     50    72             6
29 Manchester City         15   13     45    50             4
30 West Ham United         13   15     42    63             1
⋮  ⋮                       ⋮    ⋮      ⋮     ⋮              ⋮
51 Stoke City              12   17      38   73             5
52 Wigan Athletic          12   17      34   59             4
53 Bolton Wanderers        11   19      41   62             1
54 Blackburn Rovers        10   17      40   74             4
55 Portsmouth              10   17      38   58             5
56 Sunderland               9   20      34   69             1
57 Hull City                8   19      39   71             3
58 West Bromwich Albion     8   22      36   67             1
59 Middlesbrough            7   20      28   55             3
60 Newcastle United         7   18      40   57             8
61 Chelsea                 27    6     103   54             5
62 Manchester United       27    7      86   49             4
63 Arsenal                 23    9      83   56             1
64 Tottenham Hotspur       21   10      67   58             1
65 Liverpool               18   11      61   55             5
66 Manchester City         18    7      73   49             2
67 Aston Villa             17    8      52   59             2
68 Everton                 16    9      60   57             2
69 Birmingham City         13   14      38   74             1
70 Blackburn Rovers        13   14      41   57             2
71 Fulham                  12   16      39   46             1
72 Stoke City              11   13      34   63             5
73 Sunderland              11   16      48   77             9
74 Bolton Wanderers        10   19      42   74             5
75 Wigan Athletic           9   20      37   65             3
76 Wolverhampton Wanderers  9   18      32   63             4
77 Burnley                  8   24      42   57             2
78 West Ham United          8   19      47   62             3
79 Portsmouth               7   24      34   68             5
80 Hull City                6   20      34   64             6
   total_scoring_att ontarget_scoring_att hit_woodwork att_hd_goal ⋯
1  698               256                  21           12          ⋯
2  636               216                  14           16          ⋯
3  668               214                  15            8          ⋯
4  638               226                  19           10          ⋯
5  520               184                   6            5          ⋯
6  404               120                   7           10          ⋯
7  419               132                   8           15          ⋯
8  478               155                   5           12          ⋯
9  465               153                   9            9          ⋯
10 525               186                   9           13          ⋯
11 454               144                   7            7          ⋯
12 461               134                   8            3          ⋯
13 470               154                   9            5          ⋯
14 454               147                   5            3          ⋯
15 454               140                  11            8          ⋯
16 483               147                  14           10          ⋯
17 474               147                   9            6          ⋯
18 418               133                  11            6          ⋯
19 451               142                   8            8          ⋯
20 418               135                  10            4          ⋯
21 696               260                  16           12          ⋯
22 605               199                  12           10          ⋯
23 627               208                  13           14          ⋯
24 686               214                  13            7          ⋯
25 474               169                   4           13          ⋯
26 511               182                  11           16          ⋯
27 559               160                   9            4          ⋯
28 530               185                  14           11          ⋯
29 423               143                   5            5          ⋯
30 500               154                  15            7          ⋯
⋮  ⋮                 ⋮                    ⋮            ⋮           ⋱
51 364               100                  11           14          ⋯
52 590               163                  10            3          ⋯
53 488               154                   7           10          ⋯
54 473               148                  13            9          ⋯
55 500               152                  19           10          ⋯
56 473               144                  10            8          ⋯
57 476               149                   9           13          ⋯
58 559               165                  16            4          ⋯
59 498               140                   7            1          ⋯
60 444               125                  12           10          ⋯
61 834               288                  13           16          ⋯
62 695               221                  12           14          ⋯
63 660               233                  15           11          ⋯
64 681               226                  13           12          ⋯
65 642               189                  20            6          ⋯
66 526               195                   9            9          ⋯
67 497               158                   5           12          ⋯
68 589               194                  12           16          ⋯
69 452               155                   7            3          ⋯
70 489               161                  18           11          ⋯
71 463               144                   7            4          ⋯
72 402               113                   5            9          ⋯
73 444               159                  11           10          ⋯
74 558               163                  10           10          ⋯
75 555               174                  13           10          ⋯
76 436               119                   8            6          ⋯
77 459               153                  14            6          ⋯
78 549               191                  12           13          ⋯
79 533               151                   7            7          ⋯
80 388               120                   6            8          ⋯
   total_cross corner_taken touches big_chance_missed clearance_off_line
1   918        258          25686   NA                 1
2   897        231          24010   NA                 2
3  1107        282          24150   NA                 1
4   873        278          25592   NA                 1
5   796        181          22200   NA                 2
6   942        217          18932   NA                 6
7  1067        280          18017   NA                 2
8   911        205          20812   NA                 8
9   867        208          19250   NA                 2
10  783        247          19377   NA                 4
11  769        187          19199   NA                 5
12  849        196          20040   NA                 5
13  886        213          20002   NA                 5
14  811        198          19378   NA                 4
15  793        195          21213   NA                 9
16  800        178          17713   NA                 8
17  813        177          17564   NA                 4
18  750        178          19497   NA                 7
19  895        173          18720   NA                 6
20  983        212          16772   NA                 3
21  936        261          26620   NA                10
22  945        253          26290   NA                 8
23  888        234          28156   NA                 2
24  932        237          25857   NA                 4
25  877        198          21360   NA                 8
26  932        229          20734   NA                 6
27  663        184          21907   NA                 4
28  883        196          22599   NA                 5
29  695        156          23416   NA                 7
30  910        207          22347   NA                 8
⋮  ⋮           ⋮            ⋮       ⋮                 ⋮
51  697        174          18693   NA                 7
52  943        210          23071   NA                10
53  853        201          20876   NA                 5
54  865        199          23450   NA                 9
55  852        194          25414   NA                 9
56  985        172          24442   NA                 4
57  930        186          21712   NA                 4
58  962        226          24904   NA                 5
59  983        172          23322   NA                 5
60  895        165          24327   NA                 5
61 1083        286          28914   NA                 3
62 1156        297          28968   NA                 2
63 1023        257          29807   NA                 3
64  912        241          25855   NA                 6
65 1017        268          28704   NA                 1
66  809        237          26446   NA                 4
67 1031        236          23210   NA                10
68 1022        230          24914   NA                 4
69  736        186          23678   NA                 5
70  752        181          21245   NA                 6
71  727        177          26134   NA                 5
72  661        181          19825   NA                 3
73  884        180          22903   NA                 7
74  875        183          21587   NA                 9
75  681        181          25000   NA                11
76  940        204          22641   NA                 6
77  825        174          23571   NA                 7
78  689        180          24973   NA                 8
79  818        189          23416   NA                 4
80  753        150          21522   NA                 4
   dispossessed penalty_save total_high_claim punches season
1   NA          2            37               25      2006-2007
2   NA          1            74               22      2006-2007
3   NA          0            51               27      2006-2007
4   NA          0            88               27      2006-2007
5   NA          0            51               24      2006-2007
6   NA          2            44               21      2006-2007
7   NA          0            63               21      2006-2007
8   NA          5            56               25      2006-2007
9   NA          1            83               15      2006-2007
10  NA          2            79               30      2006-2007
11  NA          0            78               37      2006-2007
12  NA          0            64               25      2006-2007
13  NA          0            57               26      2006-2007
14  NA          1            64               17      2006-2007
15  NA          0            48               26      2006-2007
16  NA          1            43               21      2006-2007
17  NA          2            61               29      2006-2007
18  NA          2            50               13      2006-2007
19  NA          1            45               22      2006-2007
20  NA          0            63               15      2006-2007
21 627          0            47               23      2007-2008
22 687          0            62               19      2007-2008
23 776          1            45               26      2007-2008
24 613          1            42               22      2007-2008
25 620          0            55               20      2007-2008
26 655          2            40               14      2007-2008
27 683          2            77               28      2007-2008
28 532          2            59               27      2007-2008
29 559          2            45               43      2007-2008
30 511          3            77               19      2007-2008
⋮  ⋮            ⋮            ⋮                ⋮       ⋮
51 438          0             85              41      2008-2009
52 445          1             38              20      2008-2009
53 448          1             42              28      2008-2009
54 372          0             48              36      2008-2009
55 601          1             79              26      2008-2009
56 491          1             58              27      2008-2009
57 490          1             56              22      2008-2009
58 581          0             60              24      2008-2009
59 540          0             85              18      2008-2009
60 659          1             40              24      2008-2009
61 503          1             87              30      2009-2010
62 622          0             65              18      2009-2010
63 713          2             75              24      2009-2010
64 516          3             93              48      2009-2010
65 489          1             52              28      2009-2010
66 509          2             45              21      2009-2010
67 520          0             39              39      2009-2010
68 600          2             52              17      2009-2010
69 445          0             78              35      2009-2010
70 445          0             61              32      2009-2010
71 467          0             99              29      2009-2010
72 383          3            117              17      2009-2010
73 534          0             54              30      2009-2010
74 445          2             50              19      2009-2010
75 613          0             46              20      2009-2010
76 410          1            118              29      2009-2010
77 524          3             55              27      2009-2010
78 522          1             72              35      2009-2010
79 497          1             83              27      2009-2010
80 535          1             59              46      2009-2010

In [75]:
head(results)
head(stats)
head(df)

  home_team        away_team        home_goals away_goals result season
1 Sheffield United Liverpool        1          1          D      2006-2007
2 Arsenal          Aston Villa      1          1          D      2006-2007
3 Everton          Watford          2          1          H      2006-2007
4 Newcastle United Wigan Athletic   2          1          H      2006-2007
5 Portsmouth       Blackburn Rovers 3          0          H      2006-2007
6 Reading          Middlesbrough    3          2          H      2006-2007

  team              wins losses goals total_yel_card total_red_card
1 Manchester United 28    5     83    60             1
2 Chelsea           24    3     64    62             4
3 Liverpool         20   10     57    44             0
4 Arsenal           19    8     63    59             3
5 Tottenham Hotspur 17   12     57    48             3
6 Bolton Wanderers  16   14     47    84             4
  total_scoring_att ontarget_scoring_att hit_woodwork att_hd_goal ⋯ total_cross
1 698               256                  21           12          ⋯  918
2 636               216                  14           16          ⋯  897
3 668               214                  15            8          ⋯ 1107
4 638               226                  19           10          ⋯  873
5 520               184                   6            5          ⋯  796
6 404               120                   7           10          ⋯  942
  corner_taken touches big_chance_missed clearance_off_line dispossessed
1 258          25686   NA                1                  NA
2 231          24010   NA                2                  NA
3 282          24150   NA                1                  NA
4 278          25592   NA                1                  NA
5 181          22200   NA                2                  NA
6 217          18932   NA                6                  NA
  penalty_save total_high_claim punches season
1 2            37               25      2006-2007
2 1            74               22      2006-2007
3 0            51               27      2006-2007
4 0            88               27      2006-2007
5 0            51               24      2006-2007
6 2            44               21      2006-2007

  Date       HomeTeam   AwayTeam      FTHG FTAG FTR HTHG HTAG HTR Referee    ⋯
1 19-08-2006 Arsenal    Aston Villa   1    1    D   0    0    D   G Poll     ⋯
2 19-08-2006 Bolton     Tottenham     2    0    H   2    0    H   P Dowd     ⋯
3 19-08-2006 Everton    Watford       2    1    H   1    0    H   P Walton   ⋯
4 19-08-2006 Newcastle  Wigan         2    1    H   1    0    H   M Atkinson ⋯
5 19-08-2006 Portsmouth Blackburn     3    0    H   1    0    H   A Wiley    ⋯
6 19-08-2006 Reading    Middlesbrough 3    2    H   2    2    D   M Halsey   ⋯
  HST AST HF AF HC AC HY AY HR AR
1 11  3   10 19 18  1 1  2  0  0
2  6  6   19 22  6  3 0  1  0  0
3  2  8   12 13  0  6 2  2  0  0
4  8  9   17 20  4 11 1  2  0  0
5 16  7   20 17  6  2 2  1  0  2
6  9  5    8 15  8  2 1  3  0  0

### Adding manager data to Manchester united

In [76]:
#seperating Manchester united column from stats table
ManUnited  <- stats[stats$team == 'Manchester United',]

In [77]:
head(ManUnited)

    team              wins losses goals total_yel_card total_red_card
1   Manchester United 28   5      83    60             1
21  Manchester United 27   5      80    51             2
41  Manchester United 28   4      68    61             5
62  Manchester United 27   7      86    49             4
81  Manchester United 23   4      78    56             3
102 Manchester United 28   5      89    51             1
    total_scoring_att ontarget_scoring_att hit_woodwork att_hd_goal ⋯
1   698               256                  21           12          ⋯
21  696               260                  16           12          ⋯
41  715               230                   9            7          ⋯
62  695               221                  12           14          ⋯
81  618               212                  15           18          ⋯
102 646               243                  17           16          ⋯
    total_cross corner_taken touches big_chance_missed clearance_off_line
1    918        258          25686   NA                 1
21   936        261          26620   NA                10
41  1039        257          30077   NA                 3
62  1156        297          28968   NA                 2
81  1005        243          26671   50                 2
102 1018        279          28113   64                 3
    dispossessed penalty_save total_high_claim punches season
1    NA          2            37               25      2006-2007
21  627          0            47               23      2007-2008
41  579          0            56               22      2008-2009
62  622          0            65               18      2009-2010
81  471          0            45               16      2010-2011
102 521          1            37               26      2011-2012

In [78]:
#resetting rownames
rownames(ManUnited) <- NULL

In [79]:
#Adding Manager data
ManUnited$manager  <- rep("Alex Ferguson",nrow(ManUnited))
ManUnited[ManUnited$season == "2013-2014","manager"]  <- "David Moyes"
ManUnited[ManUnited$season == "2014-2015","manager"]  <- "Louis van Gaal"
ManUnited[ManUnited$season == "2015-2016","manager"]  <- "Louis van Gaal"
ManUnited[ManUnited$season == "2016-2017","manager"]  <- "Jose Mourinho"
ManUnited[ManUnited$season == "2017-2018","manager"]  <- "Jose Mourinho"

In [80]:
#Manchester united dataframe
ManUnited

   team              wins losses goals total_yel_card total_red_card
1  Manchester United 28    5     83    60             1
2  Manchester United 27    5     80    51             2
3  Manchester United 28    4     68    61             5
4  Manchester United 27    7     86    49             4
5  Manchester United 23    4     78    56             3
6  Manchester United 28    5     89    51             1
7  Manchester United 28    5     86    57             1
8  Manchester United 19   12     64    66             3
9  Manchester United 20    8     62    64             5
10 Manchester United 19   10     49    65             1
11 Manchester United 18    5     54    78             2
12 Manchester United 25    7     68    64             1
   total_scoring_att ontarget_scoring_att hit_woodwork att_hd_goal ⋯
1  698               256                  21           12          ⋯
2  696               260                  16           12          ⋯
3  715               230                   9            7          ⋯
4  695               221                  12           14          ⋯
5  618               212                  15           18          ⋯
6  646               243                  17           16          ⋯
7  561               213                  24           14          ⋯
8  526               183                  16           10          ⋯
9  512               180                  11           12          ⋯
10 430               144                   9            5          ⋯
11 591               210                  19            9          ⋯
12 512               178                  16           12          ⋯
   corner_taken touches big_chance_missed clearance_off_line dispossessed
1  258          25686   NA                 1                  NA
2  261          26620   NA                10                 627
3  257          30077   NA                 3                 579
4  297          28968   NA                 2                 622
5  243          26671   50                 2                 471
6  279          28113   64                 3                 521
7  218          27264   65                 5                 506
8  216          27367   38                 1                 491
9  214          29044   43                 5                 393
10 228          27542   28                 4                 522
11 217          28119   50                 1                 389
12 220          27525   42                 4                 399
   penalty_save total_high_claim punches season    manager
1  2            37               25      2006-2007 Alex Ferguson
2  0            47               23      2007-2008 Alex Ferguson
3  0            56               22      2008-2009 Alex Ferguson
4  0            65               18      2009-2010 Alex Ferguson
5  0            45               16      2010-2011 Alex Ferguson
6  1            37               26      2011-2012 Alex Ferguson
7  0            38               28      2012-2013 Alex Ferguson
8  0            32               14      2013-2014 David Moyes
9  1            33                7      2014-2015 Louis van Gaal
10 0            29               13      2015-2016 Louis van Gaal
11 1            32                4      2016-2017 Jose Mourinho
12 0            20                6      2017-2018 Jose Mourinho

In [81]:
#saving the Manchester United dataframe as a csv file
write.csv(ManUnited, file = "../premier-league/data/ManU.csv",row.names=FALSE)

In [82]:
ManUnited  <- read_csv("../premier-league/data/ManU.csv")
ManUnited

Parsed with column specification:
cols(
  .default = col_integer(),
  team = col_character(),
  season = col_character(),
  manager = col_character()
)
See spec(...) for full column specifications.

   team              wins losses goals total_yel_card total_red_card
1  Manchester United 28    5     83    60             1
2  Manchester United 27    5     80    51             2
3  Manchester United 28    4     68    61             5
4  Manchester United 27    7     86    49             4
5  Manchester United 23    4     78    56             3
6  Manchester United 28    5     89    51             1
7  Manchester United 28    5     86    57             1
8  Manchester United 19   12     64    66             3
9  Manchester United 20    8     62    64             5
10 Manchester United 19   10     49    65             1
11 Manchester United 18    5     54    78             2
12 Manchester United 25    7     68    64             1
   total_scoring_att ontarget_scoring_att hit_woodwork att_hd_goal ⋯
1  698               256                  21           12          ⋯
2  696               260                  16           12          ⋯
3  715               230                   9            7          ⋯
4  695               221                  12           14          ⋯
5  618               212                  15           18          ⋯
6  646               243                  17           16          ⋯
7  561               213                  24           14          ⋯
8  526               183                  16           10          ⋯
9  512               180                  11           12          ⋯
10 430               144                   9            5          ⋯
11 591               210                  19            9          ⋯
12 512               178                  16           12          ⋯
   corner_taken touches big_chance_missed clearance_off_line dispossessed
1  258          25686   NA                 1                  NA
2  261          26620   NA                10                 627
3  257          30077   NA                 3                 579
4  297          28968   NA                 2                 622
5  243          26671   50                 2                 471
6  279          28113   64                 3                 521
7  218          27264   65                 5                 506
8  216          27367   38                 1                 491
9  214          29044   43                 5                 393
10 228          27542   28                 4                 522
11 217          28119   50                 1                 389
12 220          27525   42                 4                 399
   penalty_save total_high_claim punches season    manager
1  2            37               25      2006-2007 Alex Ferguson
2  0            47               23      2007-2008 Alex Ferguson
3  0            56               22      2008-2009 Alex Ferguson
4  0            65               18      2009-2010 Alex Ferguson
5  0            45               16      2010-2011 Alex Ferguson
6  1            37               26      2011-2012 Alex Ferguson
7  0            38               28      2012-2013 Alex Ferguson
8  0            32               14      2013-2014 David Moyes
9  1            33                7      2014-2015 Louis van Gaal
10 0            29               13      2015-2016 Louis van Gaal
11 1            32                4      2016-2017 Jose Mourinho
12 0            20                6      2017-2018 Jose Mourinho

In [83]:
?write.csv

    team        wins losses goals total_yel_card total_red_card
135 Southampton  9   15     49    43             2
149 Southampton 15   12     54    60             0
167 Southampton 18   14     54    57             3
186 Southampton 18   11     59    57             6
211 Southampton 12   16     41    59             2
238 Southampton  7   16     37    63             2
    total_scoring_att ontarget_scoring_att hit_woodwork att_hd_goal ⋯
135 516               167                  16            9          ⋯
149 534               179                  16           10          ⋯
167 509               169                  17            3          ⋯
186 519               166                  13           15          ⋯
211 550               179                  12            4          ⋯
238 450               145                  15            7          ⋯
    total_cross corner_taken touches big_chance_missed clearance_off_line
135 917         209          25365   41                3
149 877         210          28030   37                1
167 952         208          25815   44                4
186 956         220          23716   43                6
211 947         198          25881   34                4
238 800         227          24639   37                4
    dispossessed penalty_save total_high_claim punches season
135 477          3            56               16      2012-2013
149 522          0            50               18      2013-2014
167 422          0            50               15      2014-2015
186 425          0            36               12      2015-2016
211 455          1            26               12      2016-2017
238 379          1            29               13      2017-2018

In [95]:
#Adding total games played column to the stats dataframe
stats$total_games  <- rep(38,nrow(stats))

In [96]:
head(stats,20)

  team              wins losses goals total_yel_card total_red_card
1 Manchester United 28    5     83    60             1
2 Chelsea           24    3     64    62             4
3 Liverpool         20   10     57    44             0
4 Arsenal           19    8     63    59             3
5 Tottenham Hotspur 17   12     57    48             3
6 Bolton Wanderers  16   14     47    84             4
  total_scoring_att ontarget_scoring_att hit_woodwork att_hd_goal ⋯
1 698               256                  21           12          ⋯
2 636               216                  14           16          ⋯
3 668               214                  15            8          ⋯
4 638               226                  19           10          ⋯
5 520               184                   6            5          ⋯
6 404               120                   7           10          ⋯
  corner_taken touches big_chance_missed clearance_off_line dispossessed
1 258          25686   NA                1                  NA
2 231          24010   NA                2                  NA
3 282          24150   NA                1                  NA
4 278          25592   NA                1                  NA
5 181          22200   NA                2                  NA
6 217          18932   NA                6                  NA
  penalty_save total_high_claim punches season    total_games
1 2            37               25      2006-2007 38
2 1            74               22      2006-2007 38
3 0            51               27      2006-2007 38
4 0            88               27      2006-2007 38
5 0            51               24      2006-2007 38
6 2            44               21      2006-2007 38

In [97]:
#saving the stats dataframe
write.csv(stats,file = "../premier-league/data/stats.csv",row.names=FALSE)

In [99]:
stats  <- read_csv("../premier-league/data/stats.csv")

Parsed with column specification:
cols(
  .default = col_integer(),
  team = col_character(),
  season = col_character()
)
See spec(...) for full column specifications.

### Extracting Leicester City stats from stats dataframe

In [113]:
unique(stats$team)

 [1] "Manchester United"        "Chelsea"
 [3] "Liverpool"                "Arsenal"
 [5] "Tottenham Hotspur"        "Bolton Wanderers"
 [7] "Reading"                  "Blackburn Rovers"
 [9] "Everton"                  "Portsmouth"
[11] "Middlesbrough"            "West Ham United"
[13] "Aston Villa"              "Manchester City"
[15] "Newcastle United"         "Sheffield United"
[17] "Wigan Athletic"           "Charlton Athletic"
[19] "Fulham"                   "Watford"
[21] "Sunderland"               "Birmingham City"
[23] "Derby County"             "Stoke City"
[25] "Hull City"                "West Bromwich Albion"
[27] "Wolverhampton Wanderers"  "Burnley"
[29] "Blackpool"                "Norwich City"
[31] "Swansea City"             "Queens Park Rangers"
[33] "Southampton"              "Crystal Palace"
[35] "Cardiff City"             "Leicester City"
[37] "AFC Bournemouth"          "Brighton and Hove Albion"
[39] "Huddersfield Town"

In [114]:
Leicester  <- stats[stats$team=='Leicester City',]

In [115]:
Leicester

  team           wins losses goals total_yel_card total_red_card
1 Leicester City 11   19     46    49             4
2 Leicester City 23    3     68    48             3
3 Leicester City 12   18     48    72             1
4 Leicester City 12   15     56    52             5
  total_scoring_att ontarget_scoring_att hit_woodwork att_hd_goal ⋯
1 456               137                  12            7          ⋯
2 522               179                  11           11          ⋯
3 433               145                   8           10          ⋯
4 423               149                   8            9          ⋯
  corner_taken touches big_chance_missed clearance_off_line dispossessed
1 211          21547   44                2                  355
2 197          21710   61                7                  366
3 197          21051   29                2                  310
4 203          22770   35                4                  358
  penalty_save total_high_claim punches season    total_games
1 0            38               26      2014-2015 38
2 0            49               22      2015-2016 38
3 0            45               16      2016-2017 38
4 2            29               23      2017-2018 38

In [116]:
write.csv(Leicester,file="../premier-league/data/leicester.csv",row.names=FALSE)

### Incorrect values in saves column in stats dataframe

In [117]:
head(stats)

  team              wins losses goals total_yel_card total_red_card
1 Manchester United 28    5     83    60             1
2 Chelsea           24    3     64    62             4
3 Liverpool         20   10     57    44             0
4 Arsenal           19    8     63    59             3
5 Tottenham Hotspur 17   12     57    48             3
6 Bolton Wanderers  16   14     47    84             4
  total_scoring_att ontarget_scoring_att hit_woodwork att_hd_goal ⋯
1 698               256                  21           12          ⋯
2 636               216                  14           16          ⋯
3 668               214                  15            8          ⋯
4 638               226                  19           10          ⋯
5 520               184                   6            5          ⋯
6 404               120                   7           10          ⋯
  corner_taken touches big_chance_missed clearance_off_line dispossessed
1 258          25686   NA                1                  NA
2 231          24010   NA                2                  NA
3 282          24150   NA                1                  NA
4 278          25592   NA                1                  NA
5 181          22200   NA                2                  NA
6 217          18932   NA                6                  NA
  penalty_save total_high_claim punches season    total_games
1 2            37               25      2006-2007 38
2 1            74               22      2006-2007 38
3 0            51               27      2006-2007 38
4 0            88               27      2006-2007 38
5 0            51               24      2006-2007 38
6 2            44               21      2006-2007 38

In [118]:
unique(stats$season)

 [1] "2006-2007" "2007-2008" "2008-2009" "2009-2010" "2010-2011" "2011-2012"
 [7] "2012-2013" "2013-2014" "2014-2015" "2015-2016" "2016-2017" "2017-2018"

In [122]:
stats[stats$season=='2007-2008',c('team','saves')]

   team              saves
1  Manchester United 2
2  Chelsea           4
3  Arsenal           0
4  Liverpool         0
5  Everton           0
6  Aston Villa       3
7  Portsmouth        4
8  Blackburn Rovers  0
9  Manchester City   4
10 West Ham United   1
11 Newcastle United  0
12 Sunderland        0
13 Tottenham Hotspur 0
14 Middlesbrough     0
15 Reading           7
16 Wigan Athletic    5
17 Bolton Wanderers  0
18 Birmingham City   0
19 Fulham            0
20 Derby County      8

### Saves from season 2006/2007 - 2012/2013 were not recorded properly

In [127]:
#missing dispossed values in season 2006/2007
stats[stats$season == '2006-2007',c('team','dispossessed')]

   team              dispossessed
1  Manchester United NA
2  Chelsea           NA
3  Liverpool         NA
4  Arsenal           NA
5  Tottenham Hotspur NA
6  Bolton Wanderers  NA
7  Reading           NA
8  Blackburn Rovers  NA
9  Everton           NA
10 Portsmouth        NA
11 Middlesbrough     NA
12 West Ham United   NA
13 Aston Villa       NA
14 Manchester City   NA
15 Newcastle United  NA
16 Sheffield United  NA
17 Wigan Athletic    NA
18 Charlton Athletic NA
19 Fulham            NA
20 Watford           NA

In [131]:
sum(!complete.cases(stats))

[1] 80

In [124]:
stats[!complete.cases(stats),]

   team                    wins losses goals total_yel_card total_red_card
1  Manchester United       28    5     83    60             1
2  Chelsea                 24    3     64    62             4
3  Liverpool               20   10     57    44             0
4  Arsenal                 19    8     63    59             3
5  Tottenham Hotspur       17   12     57    48             3
6  Bolton Wanderers        16   14     47    84             4
7  Reading                 16   15     52    38             3
8  Blackburn Rovers        15   16     52    77             6
9  Everton                 15   10     52    65             2
10 Portsmouth              14   12     45    48             1
11 Middlesbrough           12   16     44    64             2
12 West Ham United         12   21     35    85             2
13 Aston Villa             11   10     43    48             1
14 Manchester City         11   18     29    59             4
15 Newcastle United        11   17     38    65             1
16 Sheffield United        10   20     32    68             2
17 Wigan Athletic          10   20     37    73             3
18 Charlton Athletic        8   20     34    56             4
19 Fulham                   8   15     38    56             3
20 Watford                  5   20     29    45             2
21 Manchester United       27    5     80    51             2
22 Chelsea                 25    3     65    63             5
23 Arsenal                 24    3     74    55             3
24 Liverpool               21    4     67    45             1
25 Everton                 19   11     55    40             3
26 Aston Villa             16   10     71    54             4
27 Portsmouth              16   13     48    55             3
28 Blackburn Rovers        15   10     50    72             6
29 Manchester City         15   13     45    50             4
30 West Ham United         13   15     42    63             1
⋮  ⋮                       ⋮    ⋮      ⋮     ⋮              ⋮
51 Stoke City              12   17      38   73             5
52 Wigan Athletic          12   17      34   59             4
53 Bolton Wanderers        11   19      41   62             1
54 Blackburn Rovers        10   17      40   74             4
55 Portsmouth              10   17      38   58             5
56 Sunderland               9   20      34   69             1
57 Hull City                8   19      39   71             3
58 West Bromwich Albion     8   22      36   67             1
59 Middlesbrough            7   20      28   55             3
60 Newcastle United         7   18      40   57             8
61 Chelsea                 27    6     103   54             5
62 Manchester United       27    7      86   49             4
63 Arsenal                 23    9      83   56             1
64 Tottenham Hotspur       21   10      67   58             1
65 Liverpool               18   11      61   55             5
66 Manchester City         18    7      73   49             2
67 Aston Villa             17    8      52   59             2
68 Everton                 16    9      60   57             2
69 Birmingham City         13   14      38   74             1
70 Blackburn Rovers        13   14      41   57             2
71 Fulham                  12   16      39   46             1
72 Stoke City              11   13      34   63             5
73 Sunderland              11   16      48   77             9
74 Bolton Wanderers        10   19      42   74             5
75 Wigan Athletic           9   20      37   65             3
76 Wolverhampton Wanderers  9   18      32   63             4
77 Burnley                  8   24      42   57             2
78 West Ham United          8   19      47   62             3
79 Portsmouth               7   24      34   68             5
80 Hull City                6   20      34   64             6
   total_scoring_att ontarget_scoring_att hit_woodwork att_hd_goal ⋯
1  698               256                  21           12          ⋯
2  636               216                  14           16          ⋯
3  668               214                  15            8          ⋯
4  638               226                  19           10          ⋯
5  520               184                   6            5          ⋯
6  404               120                   7           10          ⋯
7  419               132                   8           15          ⋯
8  478               155                   5           12          ⋯
9  465               153                   9            9          ⋯
10 525               186                   9           13          ⋯
11 454               144                   7            7          ⋯
12 461               134                   8            3          ⋯
13 470               154                   9            5          ⋯
14 454               147                   5            3          ⋯
15 454               140                  11            8          ⋯
16 483               147                  14           10          ⋯
17 474               147                   9            6          ⋯
18 418               133                  11            6          ⋯
19 451               142                   8            8          ⋯
20 418               135                  10            4          ⋯
21 696               260                  16           12          ⋯
22 605               199                  12           10          ⋯
23 627               208                  13           14          ⋯
24 686               214                  13            7          ⋯
25 474               169                   4           13          ⋯
26 511               182                  11           16          ⋯
27 559               160                   9            4          ⋯
28 530               185                  14           11          ⋯
29 423               143                   5            5          ⋯
30 500               154                  15            7          ⋯
⋮  ⋮                 ⋮                    ⋮            ⋮           ⋱
51 364               100                  11           14          ⋯
52 590               163                  10            3          ⋯
53 488               154                   7           10          ⋯
54 473               148                  13            9          ⋯
55 500               152                  19           10          ⋯
56 473               144                  10            8          ⋯
57 476               149                   9           13          ⋯
58 559               165                  16            4          ⋯
59 498               140                   7            1          ⋯
60 444               125                  12           10          ⋯
61 834               288                  13           16          ⋯
62 695               221                  12           14          ⋯
63 660               233                  15           11          ⋯
64 681               226                  13           12          ⋯
65 642               189                  20            6          ⋯
66 526               195                   9            9          ⋯
67 497               158                   5           12          ⋯
68 589               194                  12           16          ⋯
69 452               155                   7            3          ⋯
70 489               161                  18           11          ⋯
71 463               144                   7            4          ⋯
72 402               113                   5            9          ⋯
73 444               159                  11           10          ⋯
74 558               163                  10           10          ⋯
75 555               174                  13           10          ⋯
76 436               119                   8            6          ⋯
77 459               153                  14            6          ⋯
78 549               191                  12           13          ⋯
79 533               151                   7            7          ⋯
80 388               120                   6            8          ⋯
   corner_taken touches big_chance_missed clearance_off_line dispossessed
1  258          25686   NA                 1                  NA
2  231          24010   NA                 2                  NA
3  282          24150   NA                 1                  NA
4  278          25592   NA                 1                  NA
5  181          22200   NA                 2                  NA
6  217          18932   NA                 6                  NA
7  280          18017   NA                 2                  NA
8  205          20812   NA                 8                  NA
9  208          19250   NA                 2                  NA
10 247          19377   NA                 4                  NA
11 187          19199   NA                 5                  NA
12 196          20040   NA                 5                  NA
13 213          20002   NA                 5                  NA
14 198          19378   NA                 4                  NA
15 195          21213   NA                 9                  NA
16 178          17713   NA                 8                  NA
17 177          17564   NA                 4                  NA
18 178          19497   NA                 7                  NA
19 173          18720   NA                 6                  NA
20 212          16772   NA                 3                  NA
21 261          26620   NA                10                 627
22 253          26290   NA                 8                 687
23 234          28156   NA                 2                 776
24 237          25857   NA                 4                 613
25 198          21360   NA                 8                 620
26 229          20734   NA                 6                 655
27 184          21907   NA                 4                 683
28 196          22599   NA                 5                 532
29 156          23416   NA                 7                 559
30 207          22347   NA                 8                 511
⋮  ⋮            ⋮       ⋮                 ⋮                  ⋮
51 174          18693   NA                 7                 438
52 210          23071   NA                10                 445
53 201          20876   NA                 5                 448
54 199          23450   NA                 9                 372
55 194          25414   NA                 9                 601
56 172          24442   NA                 4                 491
57 186          21712   NA                 4                 490
58 226          24904   NA                 5                 581
59 172          23322   NA                 5                 540
60 165          24327   NA                 5                 659
61 286          28914   NA                 3                 503
62 297          28968   NA                 2                 622
63 257          29807   NA                 3                 713
64 241          25855   NA                 6                 516
65 268          28704   NA                 1                 489
66 237          26446   NA                 4                 509
67 236          23210   NA                10                 520
68 230          24914   NA                 4                 600
69 186          23678   NA                 5                 445
70 181          21245   NA                 6                 445
71 177          26134   NA                 5                 467
72 181          19825   NA                 3                 383
73 180          22903   NA                 7                 534
74 183          21587   NA                 9                 445
75 181          25000   NA                11                 613
76 204          22641   NA                 6                 410
77 174          23571   NA                 7                 524
78 180          24973   NA                 8                 522
79 189          23416   NA                 4                 497
80 150          21522   NA                 4                 535
   penalty_save total_high_claim punches season    total_games
1  2            37               25      2006-2007 38
2  1            74               22      2006-2007 38
3  0            51               27      2006-2007 38
4  0            88               27      2006-2007 38
5  0            51               24      2006-2007 38
6  2            44               21      2006-2007 38
7  0            63               21      2006-2007 38
8  5            56               25      2006-2007 38
9  1            83               15      2006-2007 38
10 2            79               30      2006-2007 38
11 0            78               37      2006-2007 38
12 0            64               25      2006-2007 38
13 0            57               26      2006-2007 38
14 1            64               17      2006-2007 38
15 0            48               26      2006-2007 38
16 1            43               21      2006-2007 38
17 2            61               29      2006-2007 38
18 2            50               13      2006-2007 38
19 1            45               22      2006-2007 38
20 0            63               15      2006-2007 38
21 0            47               23      2007-2008 38
22 0            62               19      2007-2008 38
23 1            45               26      2007-2008 38
24 1            42               22      2007-2008 38
25 0            55               20      2007-2008 38
26 2            40               14      2007-2008 38
27 2            77               28      2007-2008 38
28 2            59               27      2007-2008 38
29 2            45               43      2007-2008 38
30 3            77               19      2007-2008 38
⋮  ⋮            ⋮                ⋮       ⋮         ⋮
51 0             85              41      2008-2009 38
52 1             38              20      2008-2009 38
53 1             42              28      2008-2009 38
54 0             48              36      2008-2009 38
55 1             79              26      2008-2009 38
56 1             58              27      2008-2009 38
57 1             56              22      2008-2009 38
58 0             60              24      2008-2009 38
59 0             85              18      2008-2009 38
60 1             40              24      2008-2009 38
61 1             87              30      2009-2010 38
62 0             65              18      2009-2010 38
63 2             75              24      2009-2010 38
64 3             93              48      2009-2010 38
65 1             52              28      2009-2010 38
66 2             45              21      2009-2010 38
67 0             39              39      2009-2010 38
68 2             52              17      2009-2010 38
69 0             78              35      2009-2010 38
70 0             61              32      2009-2010 38
71 0             99              29      2009-2010 38
72 3            117              17      2009-2010 38
73 0             54              30      2009-2010 38
74 2             50              19      2009-2010 38
75 0             46              20      2009-2010 38
76 1            118              29      2009-2010 38
77 3             55              27      2009-2010 38
78 1             72              35      2009-2010 38
79 1             83              27      2009-2010 38
80 1             59              46      2009-2010 38

In [130]:
stats[stats$season <= '2009-2007',c('team','big_chance_missed','season')]

   team                 big_chance_missed season
1  Manchester United    NA                2006-2007
2  Chelsea              NA                2006-2007
3  Liverpool            NA                2006-2007
4  Arsenal              NA                2006-2007
5  Tottenham Hotspur    NA                2006-2007
6  Bolton Wanderers     NA                2006-2007
7  Reading              NA                2006-2007
8  Blackburn Rovers     NA                2006-2007
9  Everton              NA                2006-2007
10 Portsmouth           NA                2006-2007
11 Middlesbrough        NA                2006-2007
12 West Ham United      NA                2006-2007
13 Aston Villa          NA                2006-2007
14 Manchester City      NA                2006-2007
15 Newcastle United     NA                2006-2007
16 Sheffield United     NA                2006-2007
17 Wigan Athletic       NA                2006-2007
18 Charlton Athletic    NA                2006-2007
19 Fulham               NA                2006-2007
20 Watford              NA                2006-2007
21 Manchester United    NA                2007-2008
22 Chelsea              NA                2007-2008
23 Arsenal              NA                2007-2008
24 Liverpool            NA                2007-2008
25 Everton              NA                2007-2008
26 Aston Villa          NA                2007-2008
27 Portsmouth           NA                2007-2008
28 Blackburn Rovers     NA                2007-2008
29 Manchester City      NA                2007-2008
30 West Ham United      NA                2007-2008
31 Newcastle United     NA                2007-2008
32 Sunderland           NA                2007-2008
33 Tottenham Hotspur    NA                2007-2008
34 Middlesbrough        NA                2007-2008
35 Reading              NA                2007-2008
36 Wigan Athletic       NA                2007-2008
37 Bolton Wanderers     NA                2007-2008
38 Birmingham City      NA                2007-2008
39 Fulham               NA                2007-2008
40 Derby County         NA                2007-2008
41 Manchester United    NA                2008-2009
42 Chelsea              NA                2008-2009
43 Liverpool            NA                2008-2009
44 Arsenal              NA                2008-2009
45 Aston Villa          NA                2008-2009
46 Everton              NA                2008-2009
47 Manchester City      NA                2008-2009
48 Fulham               NA                2008-2009
49 Tottenham Hotspur    NA                2008-2009
50 West Ham United      NA                2008-2009
51 Stoke City           NA                2008-2009
52 Wigan Athletic       NA                2008-2009
53 Bolton Wanderers     NA                2008-2009
54 Blackburn Rovers     NA                2008-2009
55 Portsmouth           NA                2008-2009
56 Sunderland           NA                2008-2009
57 Hull City            NA                2008-2009
58 West Bromwich Albion NA                2008-2009
59 Middlesbrough        NA                2008-2009
60 Newcastle United     NA                2008-2009